language: python

python:
  - 3.7
  - 3.6
  - 3.5
  - 3.4
  - 2.7

before_install:
  - pip install cookiecutter
  - cookiecutter . --no-input
  - pip install pipenv
  - pipenv install

install: pip install tox-travis

script: tox -c 'flask-graphql-mongo'/tox.ini
