[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
graphene = "*"
python-dotenv = "*"
bcrypt = "*"
pymongo = "*"
Flask = "*"
Flask-GraphQL = "*"
Faker = "*"
Flask-Script = "*"
Flask-Cors = "*"
PyJWT = "*"

[requires]
python_version = "3.6"
