[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
bumpversion = "*"
coverage = "*"
pytest = "*"
pytest-flask = "*"
autopep8 = "*"
tox = "*"

[packages]
graphene = "*"
python-dotenv = "*"
bcrypt = "*"
pymongo = "*"
Flask-GraphQL = "*"
Faker = "*"
Flask = "*"
Flask-Script = "*"
Flask-Cors = "*"
PyJWT = "*"
{%- if cookiecutter.sentry_sdk == "yes" %}
sentry-sdk = {extras = ["flask"],version = "*"}
{%- endif %}

[requires]
python_version = "3.7"
