[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
celery = {extras = ["redis"],version = "*"}
uwsgi = "*"
gunicorn = "*"

[packages]
graphene = "*"
python-dotenv = "*"
bcrypt = "*"
pymongo = "*"
pytest = "*"
Flask = "*"
Flask-GraphQL = "*"
Faker = "*"
Flask-Script = "*"
Flask-Cors = "*"
PyJWT = "*"
flake8 = "*"
tox = "*"

[requires]
python_version = "3.7"
